body {
  background-color: dimgray;
  padding: 0;
  margin: 0 auto;
  border: 2px solid dimgray;
  font-size: 16px;
}

button {
  outline: none !important;
}

.gameWrapper {
  background-color: ghostwhite;
  text-align: center;
  margin: 0 auto;
}

.gameHeader {
  width: 100%;
  border-bottom: 2px solid dimgray;
  margin-bottom: 1em;
}

.gameHeader h1 {
  margin-top: 0;
  padding-top: 5px;
}

.imageCard {
  width: 100%;
  height: 50vh;
  background-color: darkgreen;
  margin-bottom: 1em;
}

.dataCard {
  margin-bottom: 2em;
}

p.definition {
  margin-bottom: 1em;
}

p.definition:hover {
  color: black;
  cursor: help;
}
p.definition > s {
  color: #777;
}

.multipleChoices, .dataCard {
  text-align: left;
  margin-left: 0;
}

.multipleChoices {
  margin: 0.75em 0 2em 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
